body {

  margin: 0;
  background: url('circuito.jpg') no-repeat center center;
  font-family: Tahoma,Verdana;

}

h1{

  text-align: center;

}

p{

  text-align: right;
  margin-right: 100px;;

}

.formulario{

  position: relative;
  margin: 100px auto;
  width: 400px;
  padding: 20px;
  background-color: rgba(89,89,89,0.5);
  border-radius: 10px;
  border: 2px solid #ccc;
  box-shadow: 10px 10px 30px #000;
}

.topo{

  width: 100%;
  height: 50px;
  box-shadow: 10px 10px 30px #000;
  background-image: linear-gradient(to top, #79797a, #ccc);


}
